.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
.rebar3
_*
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
logs
_build
.idea
rebar3.crashdump
rebar.lock
