{erl_opts, [
  debug_info,
  warnings_as_errors,
  {parse_transform, lager_transform}
]}.

{deps, [
  {slacker,
    {git, "https://github.com/julienXX/slacker.git", {branch, "master"}}},
  {lager,
    {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.0"}}},
  {websocket_client,
    {git, "https://github.com/jeremyong/websocket_client.git", {branch, "master"}}},
  {jsx,
    {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}
]}.

{plugins, [rebar3_auto]}.
{cover_enabled, true}.

{dialyzer, [
  {exclude_mods, []},
  {warnings, [
    error_handling,
    race_conditions,
    underspecs,
    unmatched_returns
  ]}
]}.
